# trigger:
# - master

pool:
  vmImage: 'windows-2019'

steps:

# - task: CreateBlueprint@1
#   inputs:
#     ConnectedServiceName: 'nepeters-internal-managemet-group'
#     BlueprintName: 'blueprints-demo'
#     BlueprintPath: './create/blueprint-body.json'
#     ArtifactsPath: './create/artifacts'
#     PublishBlueprint: true

- task: AssignBlueprint@1
  inputs:
    ConnectedServiceName: 'nepeters-internal-managemet-group'
    BlueprintName: 'blueprints-demo'
    ParametersFile: './assign/assign-blueprint.json'
    SubscriptionID: '3762d87c-ddb8-425f-b2fc-29e5e859edaf'